[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-bootstrap-form = "*"
requests = "*"
google-api-python-client = "*"
django-extensions = "*"
"psycopg2-binary" = "*"
simplejson = "*"
lxml = "*"
twitter = "*"
factory-boy = "*"
pysftp = "*"
"oauth2client" = "*"
isodate = "*"


[dev-packages]

pylint = "*"
"flake8" = "*"
"autopep8" = "*"
pylint-django = "*"
rope = "*"


[requires]

python_version = "3.6"
